Verify your Cvera account

Enter this verification code in Cvera:

{{ .VerificationCode }}

This recovery code is time-sensitive and should be used immediately.

You can also verify your account using this secure link:
{{ .VerificationURL }}

Security note: Cvera will never ask you to send your password or authentication code by email.

If you did not request this, you can ignore this email.
